
.popup{
    display: none;
}
.icons{
    margin-right: 15px;
}
.active{
    position: absolute;
    border: 2px solid grey;
    width: 200px;
    padding: 8px;
    border-radius: 10px;
    display: block;
    top: 100%;
    transition: 1s;
}